.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%; 
}

.navbar .logo{
    width: max(10%,80px);
}

.navbar .profile{
    width: 40px;
}

.logo-title{
    font-weight: 500;
}

.logo-title span{
    color: tomato;
}